p.Big{
    font-family: 'Pacifico';
    font-size: 30px;
    color: white;
}

p.Small{
    font-family: 'Open Sans';
    font-size: 12px;
    color: white;
}

#link{
    color: white;
    font-size: 13px;
}